{
  "env": {
    "es6": true
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "func-names": 0,
    "no-undef": 0,
    "no-console": 0
  },
  "parser": "babel-eslint", // for async/await
  "extends": "airbnb-base",
  "globals": {
    "web3": true,
    "contract": true
  }
}